body{
    font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}
* {
   margin: 0px;
   padding: 0px;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C6E4D6;
    border-radius: 15px;
    padding: 30px 50px;
    margin: 80px;
}
.content {
    text-align: left;
    max-width: 50%;
}
.bnr-title {
    color: #5a6b5d;
    font-size: 18px;
    margin-bottom: 10px;
}

.bnr-description {
    font-size: 32px;
    color: #333333;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bnr-btn{
    background-color: #006A50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

.card{
    margin: 80px;
}
.card-pera{
    margin-top: 24px;
}
.vision{
    margin-top: 32px;
    display: flex;
    gap:24px;
    justify-content: space-between;
    
    }

    /* to ensure all btn align properly*/
    
    .vision-1, .vision-2, .vision-3 {
        display: flex;
        flex-direction: column;  
        align-items: flex-start;
        justify-content: space-between;
        flex: 1;
    }
    .vision-1{
        background: #b0c8f1;
        box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
        border-radius: 5px;
        padding: 32px;
      }
      
    .vision-2{
        background: #C6E4D6;
        box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
        border-radius: 5px;
        padding: 32px;
      }
      
    .vision-3{
        background: #F7EBCF;
        box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
        border-radius: 5px;
        padding: 32px;
      }
      .vision-title{
        font-weight: 700;
        font-size: 20px;
        margin-top: 24px;
        margin-bottom: 12px;
      }
      .vision-description{
        color: #0E0E0E;
        gap: 12px;
        
      }
    

  .btn-1{
    background-color: #5490F5;
    color: white;
    padding:10px 15px;
    font-size: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 12px;
  }

  .btn-2{
    background-color: #2fb97b;
    color: white;
    padding:10px 15px;
    font-size: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 12px;
  }
  
  .btn-3{
    background-color: #FFC239;
    color: white;
    padding:10px 15px;
    font-size: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 12px;
  }
  .qoute-content{
        background: white;
        box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
        border-radius: 5px;
        padding: 30px;
        margin: 80px;
  }
  .background{
    background-image: url('images/assets/quote-bg.png');
    background-repeat: no-repeat;
    background-position: left -20px;
  }
  .name{
    margin-top: 12px;
  }

  .news{
    margin: 80px;
  }
  .news-pera{
    margin-top: 24px;
    margin-bottom: 32px;
  }

  .news-card{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex: 1;
        background: #FFFFFF;
        box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
        border-radius: 5px;
        padding: 32px;
        margin-bottom: 24px;
  }
  .news-img{
    border-radius: 10px;
    margin-right: 32px;
  }
  .news-date{
    margin-bottom: 12px;
    margin-top: 12px;
  }
  .news-description{
    line-height: 24px;
    font-size: 16px;
    margin-right: 20px;
  }
  .news-btn{
    background-color: #006A50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-family: 700;
    font-size: 14px;
    margin-top: 50px;
  }
  .donate{
    margin: 80px;
  }
 
  .donate-title{
    text-align: center;
    margin-bottom: 24px;
  }
  .donate-description{
    text-align: center;
  }
  .donate-btn{
    background-color: #006A50;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 40px;
    cursor: pointer;
    font-family: 700;
    font-size: 20px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 50px;
    width: 210px;
    height: 100px;
    
  }

  .other-amount{
    width: 1000px;
    height:45px;
    text-align: center;
    margin-left: 50px;
    background-color:#FFFFFF;
    border: none;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.09);
    margin-bottom: 32px;
  }
  .done-btn{
    background-color: #006A50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 17px 34px;
    cursor: pointer;
    font-family: 700;
    font-size: 14px;
    margin-top: 25px;
    margin-left: 500px;    
  }
  .subscribe{
    text-align: center;
    margin: 80px;
    background-color: #C6E4D6;
    padding: 100px 80px;
    border-radius: 15px;
  }
  .sub-title{
    margin-bottom: 16px;
  }
  .sub-pera{
    line-height: 24px;
    margin-bottom: 12px;
    color: #0E0E0E;
  }
  .input-btn{
    display: flex;
    align-items: center;
  }
  .sub-int{
    width: 600px;
    height: 40px;
    margin-left: 95px;
    padding-left: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: none;
  }
  .sub-btn{
    background-color: #006A50;
    color: white;
    border: none;
    padding: 12px 30px;
    cursor: pointer;
    font-family: 700;
    font-size: 14px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .sub-commitment{
    margin-top: 24px;
    color: #0E0E0E;
  }