body{
    font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}
* {
   margin: 0px;
   padding: 0px;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C6E4D6;
    border-radius: 15px;
    padding: 30px 50px;
    margin: 100px;
}
.content {
    text-align: left;
    max-width: 50%;
}
.bnr-title {
    color: #5a6b5d;
    font-size: 18px;
    margin-bottom: 10px;
}

.bnr-description {
    font-size: 32px;
    color: #333333;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bnr-btn{
    background-color: #006A50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

.card{
    margin: 80px;
}
.card-pera{
    margin-top: 24px;
}
.vision{
    margin-top: 32px;
    display: flex;
    gap:24px;
    justify-content: space-between;
    
    }

    /* to ensure all btn align properly*/
    
    .vision-1, .vision-2, .vision-3 {
        display: flex;
        flex-direction: column;  
        align-items: flex-start;
        justify-content: space-between;
        flex: 1;
    }
    .vision-1{
        background: #b0c8f1;
        box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
        border-radius: 5px;
        padding: 32px;
      }
      
    .vision-2{
        background: #C6E4D6;
        box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
        border-radius: 5px;
        padding: 32px;
      }
      
    .vision-3{
        background: #F7EBCF;
        box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
        border-radius: 5px;
        padding: 32px;
      }
      .vision-title{
        font-weight: 700;
        font-size: 20px;
        margin-top: 24px;
        margin-bottom: 12px;
      }
      .vision-description{
        color: #0E0E0E;
        gap: 12px;
        
      }
    

  .btn-1{
    background-color: #5490F5;
    color: white;
    padding:10px 15px;
    font-size: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 12px;
  }

  .btn-2{
    background-color: #2fb97b;
    color: white;
    padding:10px 15px;
    font-size: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 12px;
  }
  
  .btn-3{
    background-color: #FFC239;
    color: white;
    padding:10px 15px;
    font-size: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 12px;
  }

  .news{
    margin: 80px;
  }
  .news-pera{
    margin-top: 24px;
    margin-bottom: 32px;
  }

  .news-card{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex: 1;
        background: #FFFFFF;
        box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
        border-radius: 5px;
        padding: 32px;
        margin-bottom: 24px;
  }
  .news-img{
    border-radius: 10px;
    margin-right: 32px;
  }
  .news-date{
    margin-bottom: 12px;
    margin-top: 12px;
  }
  .news-description{
    line-height: 24px;
    font-size: 16px;
    margin-right: 20px;
  }
  .news-btn{
    background-color: #006A50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-family: 700;
    font-size: 14px;
    margin-top: 50px;
  }
